In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/GeneralEsportData.csv"
Esport_data_df = pd.read_csv(csv_file)
Esport_data_df.head()

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,NaN,190262.81,156839.89,255,96
1,Age of Empires II,1999,NaN,2008941.78,619582.87,1392,1031
2,Age of Empires III,2005,NaN,68613.85,41500.00,108,77
3,Age of Empires Online,2011,NaN,4853.56,775.00,20,13
4,Age of Mythology,2002,NaN,52360.00,52000.00,22,6

In [3]:
Player_file = "Resources/Additional Optional Data/Esport_Earnings.csv"
PlayerEarnings_data_df = pd.read_csv(Player_file)
PlayerEarnings_data_df.head()

,IdNo,TotalMoney,GameName,Genre,PlayerNo,TournamentNo,Top_Country,Top_Country_Earnings,Releaseyear
0,613,310.00,Acceleration of SUGURI 2,Fighting Game,6,2,United States,310.00,2018
1,510,190075.61,Age of Empires,Strategy,246,95,Viet Nam,123408.43,1997
2,179,1492489.51,Age of Empires II,Strategy,956,576,China,174252.44,1999
3,177,68113.85,Age of Empires III,Strategy,106,76,United States,18523.52,2005
4,540,2668.00,Age of Empires Online,Strategy,16,7,Germany,1264.00,2011

In [4]:
# Creating a database connection
rds_connection_string = "postgres:postgres@localhost:5432/gaming_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
# Confirm tables
engine.table_names()

<ipython-input-5-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Esport_data', 'earnings_data']

In [6]:
# Loading tables into gaming_db
Esport_data_df.to_sql(name='Esport_data',con=engine,if_exists='append', index=False)

In [9]:
PlayerEarnings_data_df.to_sql(name='PlayerEarnings_data',con=engine,if_exists='append', index=False)

In [10]:
# Confirm tables
engine.table_names()

<ipython-input-10-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Esport_data', 'earnings_data', 'PlayerEarnings_data']