In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
csv_file = "Resources/GeneralEsportData.csv"
Esport_data_df = pd.read_csv(csv_file)
Esport_data_df.head()

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
0,Age of Empires,1997,NaN,190262.81,156839.89,255,96
1,Age of Empires II,1999,NaN,2008941.78,619582.87,1392,1031
2,Age of Empires III,2005,NaN,68613.85,41500.00,108,77
3,Age of Empires Online,2011,NaN,4853.56,775.00,20,13
4,Age of Mythology,2002,NaN,52360.00,52000.00,22,6

In [10]:
Player_file = "Resources/highest_earning_players.csv"
PlayerEarnings_data_df = pd.read_csv(Player_file)
PlayerEarnings_data_df.head()

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [11]:
# Creating a database connection
rds_connection_string = "postgres:postgres@localhost:5432/gaming_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
# Confirm tables
engine.table_names()

<ipython-input-12-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Esport_data']

In [8]:
# Loading tables into gaming_db
Esport_data_df.to_sql(name='Esport_data',con=engine,if_exists='append', index=False)

In [13]:
PlayerEarnings_data_df.to_sql(name='earnings_data',con=engine,if_exists='append', index=False)

In [14]:
# Confirm tables
engine.table_names()

<ipython-input-14-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Esport_data', 'earnings_data']